body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #12e2e9;
  }
  
  .calculator {
    border: 2px solid #0e0d0d;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(194, 39, 39, 0.527);
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #eee;
    cursor: pointer;
  }
  
  .operator {
    background-color: #f0f0f0;
  }
  
  button:hover {
    background-color: #ddd;
  }
  